@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Your Custom CSS Here */
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7fafc;
  color: #1a202c;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.prose img {
  border-radius: 30px;
}


