---
import Button from "../components/button.astro";
import Separator from "../components/home/separator.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="tayeb">
  <div
    id="test"
    class=" w-full max-w-4xl mx-auto mt-12 px-7 md:mt-6 lg:mt-6 xl:px-0"
  >
    <div class="flex flex-col-reverse items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl  dark:text-white"
        >
          Hello, I'm Tayeb.
        </h1>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          I'm a web development student, looking for a company offering apprenticeship opportunities.
        </p>
        <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
          I can help you out with:
        </p>
        <ul
          class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>React.js, Vue.js Development</li>
          <li>Python, Java Development</li>
          <li>Website Design</li>
          <li>Explore my website to discover more...</li>
        </ul>
      </div>
      <div id="ok" class="relative">
        <div class="absolute p-2 w-16 h-16 z-10 w-16 h-16 text-2xl md:top-[-24px] md:left-[-24px]" 
        ><span class="flex items-center justify-center w-full h-full bg-white border border-dashed rounded-full dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700">👋</span></div>
        <div class="relative h-64 w-64 w-full rounded-full  mt-6 md:rounded-2xl md:w-[380px] md:h-72 md:mt-0  border border-neutral-200 border-neutral-300 border-dashed md:px-10">
          <img
            src="portfolio/assets/images/photo.png"
            class="w-full h-full rounded-full md:rounded-2xl"
          />
        </div>
      </div>
    </div>
    </div>
    
  </div>
</Layout>