<div id="background">
    <svg viewBox="0 0 360 360" xmlns="http://www.w3.org/2000/svg">
        <path d="M180,327.31475273147225C209.74194088239625,333.19970064675795,240.84052694348998,345.2853164182319,269.1270730830729,334.37261890978675C298.1901026070444,323.1603610289881,318.01734077364557,295.6442336154611,332.9523689379877,268.3070913795382C347.6919511624905,241.3276942645506,357.21068189999846,210.5141513559204,353.4650551341474,180C349.8794611045759,150.78957254451134,335.46274049660605,122.04429756703388,312.7076375827786,103.38120971806349C291.8618654894611,86.284100672655,260.3185649211569,94.53676032445232,235.74400749057537,83.44854680882351C214.54606892460714,73.88388752351992,203.20961021384136,44.968637562292024,180,43.502588309347615C156.8948501308352,42.04313735809221,141.74425349695724,68.09355527506179,120.03628415986898,76.13979755427033C92.51925259919274,86.33921783645907,57.07058038084996,76.42738829454323,36.01671287661108,96.87121042050416C15.036698435507304,117.24331940939479,6.207600824810834,151.5747159674105,13.076884504407648,179.99999999999997C19.89553686021174,208.21577022781986,53.38148890565894,219.91539373388855,71.27530531386077,242.77223174460227C86.09779822784425,261.7058852325514,90.16641913042979,287.9579140890581,109.14863235317165,302.71816855004835C129.2261987154647,318.33015146202086,155.0506099119455,322.378092351206,180,327.31475273147225" fill="#FFDC5D" />
    </svg>
    <svg viewBox="0 0 360 360" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#FFDC5D" stop-opacity="1" />
            <stop offset="100%" stop-color="#FFDC8F" stop-opacity="1" />
          </linearGradient>
        </defs><path d="M180,270.29402987100184C202.561845770933,274.4318267810281,224.39526369819112,266.8775274645979,245.63920945545166,258.22576368357835C278.3049151690227,244.9223984423294,320.6608873039322,239.62815125284976,334.7230571199914,207.28184950795145C349.2929110430071,173.76775477452355,336.75225757343014,130.99566762401645,313.03927715740286,103.18973752038023C291.0087855223843,77.35670009510429,250.99917976843216,84.18020490064487,219.32239729070983,71.96260136495121C186.56165921053355,59.32692065205719,157.72246267699663,16.43510559628544,125.75156264236709,30.953643319205028C93.20448258812723,45.733834337491466,111.72836708614113,99.34402735221302,92.57076352094784,129.52270678377573C71.70057570872483,162.39919394555767,-0.9602004996668363,172.9695422647083,12.372995333163207,209.557163618107C26.81077090042013,249.17586211044176,92.22360152445424,222.9957162182955,131.86882178797578,237.360504549972C150.7143168317965,244.18885726212056,160.2843955195573,266.6782278605308,180,270.29402987100184" fill="url(#gradient)" />
      </svg>
    
</div>

<style>
    #background {
        position: absolute;

        display:  flex;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #background svg:nth-child(1) {
        height: 40%;
        width: 40%;
        padding: 0;
        margin-top: -10%;
    }
    #background svg:nth-child(2) {
        height: 100%;
        width: 100%;
        padding: 0;
        margin-right: 0;
        padding-left: 21%;
        padding-top: 10%;

    }
    #background svg path {
        animation: wave 4s infinite;

    }
    @keyframes wave {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(0);
        }
    }

</style>