---
import Square from "./square.astro";
---

<div
  class="relative flex w-full divide-x divide-dashed"
>
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
</div>
